{% load url_custom %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Dashboard</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
	<style>
		body{
			font-family: 'Roboto', sans-serif;
		}
		.btn{
			border-radius: 2px !important;
		}
	</style>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">My Dashboard</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/accounts/logout/">Logout</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</nav>

	<div class="container" role="main">
		<div class="page-header">
			<br><h1>Orders</h1>
		</div>
		<div class="row">
			<a class="btn btn-lg btn-default pull-left" href="/orders/create/">Create Order</a>
			<div class="col-xs-12">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><a href="?sort_by=order_id">Order ID</a></th>
							<th><a href="?sort_by=product_name">Product Name</a></th> 
							<th><a href="?sort_by=order_status">Order Status</a></th>
							<th><a href="?sort_by=product_url">Product URL</a></th>
							<th><a href="?sort_by=cost_price">Cost Price(INR)</a></th>
						</tr>
					</thead>
					<tbody>
						{% for order in orders %}
						<tr>
							<td>{{ order.order_id }}</td>
							<td>{{ order.product_name }}</td>
							<td>{{ order.order_status.label }}</td>
							<td><a href="{{ order.product.url }}">{{ order.product.url }}</a></td>
							<th>{{ order.cost_price }}</th>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				  	{% if pagination.previous_page %}
				    <li>
				      <a href="?{% url_replace request 'page' pagination.previous_page %}" aria-label="Previous">
				        <span aria-hidden="true">&laquo; Prev</span>
				      </a>
				    </li>
				    {% endif %}
				    <li><a>{{ pagination.current_page }} / {{ pagination.total_pages }}</a></li>
				    {% if pagination.next_page %}
				    <li>
				      <a href="?{% url_replace request 'page' pagination.next_page %}" aria-label="Next">
				        <span aria-hidden="true">Next &raquo;</span>
				      </a>
				    </li>
				    {% endif %}
				  </ul>
				</nav>
			</div>
		</div>
	</div> <!-- /container -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
	<!-- Bootstrap -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
</body>
</html>